@{ Layout = null; }
@*<div class="input-group">
        <span class="input-group-btn ">
            <button class="btn btn-default btn-add-comment" type="button">Add</button>
        </span>
        <form class="form-add-comment">
            <input type="text" class="form-control input-add-comment" placeholder="Add a comment...">
            <input type="submit" style="position: absolute; left: -9999px" />
        </form>
    </div>*@

<form class="form-add-comment">
    <div class="input-group">
        <span class="input-group-btn ">
            <input type="submit" value="Add" class="btn" />
        </span>
        <input type="text" class="form-control input-add-comment" placeholder="Add a comment...">
    </div>
</form>
