
@{
    ViewBag.Title = "NotFound";
}



<div class="jumbotron">
    <h1>Uuuoops!</h1>
    <p class="lead">This is not the page you are looking for!</p>
    <p><a href="@Url.Action("Index","Home")"class="btn btn-primary btn-lg">Back to main page &raquo;</a></p>
</div>

